<div class="nav">
    <div class="navdiv">
        <img id="logo" src="../../public/logo-n.svg" alt="">
        <h4>Northwest Missouri <br> State University</h4>
    </div>
    <div class="navdiv" style="justify-content: end;">
        <div>
            <ul>
                <li>
                    <select name="" id="">
                        <option value="">View as Admin (Default)</option>
                        <option value="">View as Supervisor</option>
                        <option value="">View as User</option>
                    </select>
                </li>
                <li>
                    <a href="/dash">Dashboard</a>
                </li>
                <li>
                    <a href="/gen">Generate Report</a>
                </li>
                <li>
                    <a href="/events">Event List</a>
                </li>
                <li>
                    <a href="/create">Create Event</a>
                </li>
                <li>
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search Event">
                        <input type="submit">
                    </form>
                </li>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <li>
                    <a href="/settings">
                        <img src="/public/gearGreen.png" height="30px" width="30px" alt="settings">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>